<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="templateEntities" connectionString="metadata=res://*/Configuration.Model1.csdl|res://*/Configuration.Model1.ssdl|res://*/Configuration.Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Develop\RepoManagerGc\SubversionStatistics\bin\Debug\dbtemplate\template&quot;" providerName="System.Data.EntityClient" />
    <add name="templateEntities1" connectionString="metadata=res://*/DataModel.SvnStat.csdl|res://*/DataModel.SvnStat.ssdl|res://*/DataModel.SvnStat.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Develop\RepoManagerGc\SubversionStatistics\bin\Debug\dbtemplate\template&quot;" providerName="System.Data.EntityClient" />
    <add name="SvnStat" connectionString="metadata=res://*/DataModel.SvnStat.csdl|res://*/DataModel.SvnStat.ssdl|res://*/DataModel.SvnStat.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Develop\RepoManagerGc\SubversionStatistics\bin\Debug\dbtemplate\template&quot;" providerName="System.Data.EntityClient" />
    <add name="SvnStatEntities" connectionString="metadata=res://*/DataModel.SvnStatModel.csdl|res://*/DataModel.SvnStatModel.ssdl|res://*/DataModel.SvnStatModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Develop\RepoManagerGc\SubversionStatistics\bin\Debug\dbtemplate\template&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>